[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
aiohttp-auth = "*"
aiohttp-jinja2 = "*"
jinja2 = "*"
pyyaml = "*"
sqlalchemy = "*"
aiohttp-auth-autz = "*"

[requires]
python_version = "3.6"
